.titulo-h1 {
    background: linear-gradient(
        90deg,

        rgba(000, 65, 150, 1) 0%,
        rgba(200, 000, 131, 1) 100%
      );
    color: #eee;
   
    margin: 5px;
    border: 5px solid rebeccapurple;
    width: 1205px;
    margin-left: 122px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(
        90deg,
        rgba(65, 185, 131, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
}
.primeiro-ul {
    background: linear-gradient(
        90deg,

        rgba(000, 65, 150, 1) 0%,
        rgba(200, 000, 131, 1) 100%
      );
    color: white;
    padding-left: 40px;
    margin: 5px;
    border: 5px solid rebeccapurple;
    width: 1165px;
    margin-left: 122px;
    
}
.segundo-ul {

    color: white;
    margin: 250px;
    margin-top: -89px;
    width: 50%;
}
.terceiro-ul {
   
    color: white;
    margin-left: 360px;
    margin-top: -302px;
    width: 50%;
}

.zueira-ul {
    color: white;
    margin-left: 690px;
    width: 180px;
    margin-top: -50px;

}

.intro{
    background: linear-gradient(
        90deg,

        rgba(000, 65, 150, 1) 50%,
        rgba(200, 000, 131, 1) 100%
      );
    color: white;
    border: 5px solid rebeccapurple;
    width: 560px;
    margin-left: 123px;
    margin-top: 40px;
}


.meme {
    background: linear-gradient(
        90deg,

        rgba(000, 65, 150, 1) 0%,
        rgba(200, 000, 131, 1) 50%
      );
    color: white;
    border: 5px solid rebeccapurple;
    width: 560px;
    margin-left: 123px;
    margin-top: 10px;
}

.boneco {
    width: 200px;
    height: 200px;
    margin-top: -950px;
    margin-left: 1050px;
}

.links {
    background: linear-gradient(
        90deg,

        rgba(000, 65, 150, 1) 0%,
        rgba(200, 000, 131, 1) 100%
      );
    color: white;
    border: 5px solid rebeccapurple;
    width: 300px;
    margin-top: -207px;
    margin-left: 700px;
}

.bo {
    background: linear-gradient(
        90deg,

        rgba(000, 65, 150, 1) 0%,
        rgba(200, 000, 131, 1) 100%
      );
    color: white; 
    border: 5px solid rebeccapurple;
    width: 600px;
    margin-left: 700px;
    margin-top: 10px;
}

.casar {
    background: linear-gradient(
        90deg,
        rgba(65, 185, 131, 1) 0%,
        rgba(0, 212, 255, 1) 100%
      );
      border: 3px solid linear-gradient(
        90deg,

        rgba(185, 65, 131, 1) 0%,
        rgba(65, 65, 131, 1) 100%
      );
}

.casar {
    background-color: #333;
    margin: 0;
    width: 250px;
    height: 100px;
    position: fixed;
    bottom: 0;
}

.casar img {
    position: relative;
}

.casar ul li a {
    background: #333;
    color: #eee;
    list-style: none ;
    position: absolute;
top: 50%;
left: 45%;
}

.casar ul li a:hover {
    background: #eee;
    color: #333;
}